#Options for 1Gb RAM
[mysqld]
default-time-zone="+05:00"
sql_mode=""
skip-external-locking

max_allowed_packet      	= 16M
#key_buffer              	= 16M
innodb_buffer_pool_size 	= 512M
innodb_file_per_table   	= 1
innodb_flush_method     	= O_DIRECT
innodb_flush_log_at_trx_commit  = 0

thread_stack            	= 128K
thread_cache_size       	= 128
#myisam-recover          	= BACKUP
max_connections         	= 128
#table_cache             	= 32

query_cache_limit       	= 1M
query_cache_size    		= 4M

long_query_time         	= 1

expire_logs_days        	= 10
max_binlog_size     		= 100M

[mysqldump]
quick
quote-names
max_allowed_packet      	= 16M